header{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
i {
    background-color: #787878;
    border-radius: 50%;
    padding:5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 60px;
    position: absolute;
}
a{
    text-decoration: none;
}
body{
    background-color: #ffffff;
}
.headerbar {
    background-color: #2e2e2e;
    width: 1000px;
    height:60px;
    color: #8c8c8c;
    position: relative;
    overflow:hidden;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.center {
    margin:auto;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.softgray {
    color: #9f9f9f;
}
.font12px{
    font-size: 12px;
}
.lh70{
    line-height: 60px;
}
.fa {
    color: white;
    line-height: 60px;
    position: relative;
}
.padding20{
    padding-left: 20px;
    padding-right: 20px;
}
.margin20{
    margin-left: 20px;
    margin-right: 20px;
}
.paddingleft10{
    padding-left: 10px;
}
.texstsize10px{
    font-size: 12px;
}
.softsoftgray{
    background-color: #f1f1f1;
}
.block{
    display: block;
}
.clearfix:after:after{
    content: "";
    display: table;
    clear: both;
}
.clearfixbefore:before{
    content: "";
    display: table;
    clear: both;
}