header{
    margin-bottom: 0px;
}
.headerbar {
    background-color: #2e2e2e;
    width: 1000px;
    height:70px;
    color: #8c8c8c;
    position: relative;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.center {
    margin:auto;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.softgray {
    color: #8c8c8c;
}
.font12px{
    font-size: 12px;
}
linei-height: 70px;